
#popMessage{

    
    color:whitesmoke;
    border-style: solid;

    text-align: center;
    
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color:black;
    border-style: solid;
    border-color: rgb(1, 41, 64);

    border-width: thin;


    /* The code below is to center the element at the page */


    height: fit-content;

    zoom: 90%;


    width:fit-content;
    
    /* To hide the element until it is selected */


    display: none; /* The element is completely removed */

    z-index: 10;



    position: fixed; /* Where should an element be on the screen even when you scroll in the browser */
    top: 10vh;
    left: calc(50% - 15rem); /* This is to make sure that it is always in the middle */



    opacity: 0.8;





}

#close{
    
    text-align: right;
    margin-right: 10px;
    cursor: pointer;
    font-weight: bold;


}

#backdrop {
    position: fixed; /* Thus this element always stays in the same place even if the page is scrolled */
    z-index: 1; /* This element has a greater stack number thus will always be infront of an element with a lower stack order */
    background-color: rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 100%;  /* vh is the maximum possible viewport height */
    top: 0; /* Distance from the margin */
    left: 0; /* Distance from the left */
    cursor: pointer;
    display: none;
 
}

#btn {

    font: inherit; /* In other words inherit the value for this attribute from its parent element */
    padding : 0.5rem 1.5rem; /* Height and Width */
    cursor: pointer;
    border-radius: 4px;
    background-color:blueviolet;
    color: white; /* Text color */
    border: 1 px solid blueviolet;
    

}

#btn:hover{
    background-color: rgb(157, 61, 247);
    
    }
/* Styling the card*/


#content {
    text-align: center;
    padding: 1rem;
}

.content h3 {
    font-size: 1.25rem;
    color: #2c292b;
}

#image {

    border-radius: 6px;
    border-style: solid;
    border-bottom-color: rgb(1, 41, 64);
    border-top: none;
    border-right: none;
    border-left: none;
    border-width: thin;
}

#id{ /* Making the hidden field as small as possible to prevent it from taking too much space */

    height:0px; 
    width: 0px;
}