#popMessage{

    color:whitesmoke;
    border-style: solid;
    text-align: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color:black;
    border-style: solid;
    border-color: rgb(1, 41, 64);
    border-width: thin;
    margin: auto;
    margin-top: 10px;
    /* The code below is to center the element at the page */
    height: fit-content;

    zoom: 90%;
    width:fit-content;
    
    /* To hide the element until it is selected */
    top: 10vh;
    left: calc(50% - 15rem); /* This is to make sure that it is always in the middle */
    opacity: 0.8;
}

#nav{

    margin-right: 2.8rem;
}


#headerCart{

   width: 650px;

}

#items li{

    list-style: none; /* Getting rid of the list item */

}

#CartMain {

    margin: auto;
    width: 800px;
    overflow-x: hidden;
    height: 70vh;

}

#remove{
    
    cursor: pointer;
    font-weight:normal;
    height:25px;
}


#buy{

    border: none;
    padding: 15px 32px;
    font-size: large;
    background-color:#fc8129; 
    border-radius: 15px;

}

#Purchase_form{

    margin-left: 300px;
}

#buy{
    
    cursor: pointer;
}